//- include /_core/_index

meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosansjapanese.css')
//- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
script(src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js")
link(rel="stylesheet", href=`${vars.assets}/css/style.css?${vars.build}`)
